/* Estilo listas categorias */
.sectionCategorias h2 {
    margin: 10%;
}

.pCategorias {
    margin: 1%;
}

.listaCategorias {
    list-style-type: none;
    margin-left: 5%;

}

.listaCategorias li a{
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 1000;
}

.listaCategoriasOpciones {
    list-style-type: none;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}
.listaCategoriasOpciones li a{
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    letter-spacing: 1%;
    font-size: 100%;
    font-weight: 100;
}

/* Estilo imagenes categorias y quienes somos */
.imagenCategorias {
    width: 20%;
    height: 20%;
}
.divImagenCategorias {
    justify-content: center;
    display: flex;
}


.sectionCategorias {
    display: flex;
    content: flex-start;
    margin-top: 40px;
}
.sectionCategoriasImagenes {
    display: flex;
    align-content: flex-end;
}