/* Estilo listas categorias */
.sectionCategorias {
    display: flex;
    margin-top: 40px;
}
.sectionCategorias h2 {
    color: map-get($colores , color-secundario );
    margin: 5%;
    border: solid 1px black;
    width: 105%;
    border-radius: 6px;
    background-color: map-get($colores, color-principal );
    padding: 2%;
}


.pCategorias {
    @include parrafos (1%, 110%);
    text-align:start;
    line-height: 110%;
    margin: 1%;
}

.listaCategorias {
    list-style-type: none;
    margin-left: 5%;
    padding: 0%;

}

.listaCategorias .list-group .list-group-item a {
    font-size: 80%;
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
}

.listaCategorias li a{
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 1000;
    margin-left: 1%;
}

/* Estilo imagenes categorias y quienes somos */
.imagenCategorias {
    width: 25%;
    height: 25%;
}
.divImagenCategorias {
    justify-content: center;
    display: flex;
}

.container {
    margin: 5%;
}
.container .row .col-sm {
    border: solid 1px map-get($colores, color-terciario);
    margin: 1%;
    align-items: center;
}

.container .row .col-sm img {
    margin: 0 auto;
    padding-left: 10%;
}