
*{
    margin: 0;
    padding: 0;
}

.body {
    min-height: 100vh;
    position: relative;
    background-color: map-get($colores, "color-secundario");
}


.main {
    padding-bottom: 30vh;
}

/* Estilo del logo */
#logo {
    width: 50%;
}

/* Estilo del h1 */
h1 {
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    text-decoration:wavy;
    text-align: center;
    letter-spacing: 50%;
    font-size: 210%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 1000;
}

/* Estilo del h2 */
h2 {
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    margin: 20px auto;
    font-size: 180%;
}

/* Estilo del h3 */
h3 {
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    margin: 10px auto;
    font-size: 150%;
}

/* Estilo de los parrafos */

.pIndex {
    @include parrafos(1px, 20px);
    text-align:left;
    line-height: 24px;
}

.pNombreItems {
    @include parrafos (1%, 100%);
    text-align:center;
    padding: 20%;
    line-height: 100%;
}
