/* Grid */
.contenedorGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 5px;

}

/* Estilo imagen del index */
.imagenIndex {
    width: 80%;
    border-radius: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 20px;
}

.imagenIndex:hover {
    transform: scale(1.15) rotateZ(360deg);
    transition: all 30s;
}

/* Estilo de la seccion del index */
.textoIndex {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 20px;
    align-items: center;
}

/* Estilo carrousel */
.carousel-inner {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Nesting */
.carousel-item  {
    height: 500px;
    width: 80%;
    align-items: center;

    img {
        height: 300px;
        object-fit: contain;
    }

} 

/* Estilo del mapa */
.mapa {
    border: solid 1px black;
    width: 100%;
}

.h3Ubicacion {
    margin-left: 1%;
}

.h3Contacto {
    margin-left: 1%;
}

.mb-3 {
    margin-left: 1%;
    width: 95%;
}

.divUbicacion {
    display:inline-block;
    width: 48%;
    padding: 2%;
    margin: 0.5%;

}

.divContacto {
    display: inline-block;
    width: 48%;
    padding: 2%;
    margin: 0.5%; 
}