/* Media Quieries para 768px */
@media screen and (min-width: 769px){
    .divNuestroEquipoMobile {
        display: none;
    }
}
@media screen and (max-width: 768px){

    .divNuestroEquipo {
        display: none;
    }

    .divNuestroEquipoMobile .list-group .list-group-item {
        font-size: 70%;
        font-family: $fuente-principal;
    }

    .carousel-inner {
        width: 90%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .carousel-item  {
        height: 200px;
        width: 80%;
    } 
    .carousel-item img {
        height: 100px;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 1px;
        font-size: 110%;
    }
    
    h3 {
        font-size: 100%;
    }
    
    p {
        line-height: 10px;
        letter-spacing: 1px;
        font-size: 12px;
    }

    .container .row .col-sm img {
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 1%;
        padding-left: 20%; 
    }

    .h3Ubicacion {
        text-align: center;
        margin-top: 20px;
    }

    .mapa {
        border: solid 1px black;
        width: 60%;
        height: 100%;
        margin-left: 20%;
        margin-right: auto;
    }

    .h3Contacto {
        margin-left: 30px;
    }

    /* Estilo del footer */
    .piePagina {
        margin-top: 5px;
}
.divUbicacion {
    display:flexbox;
    width: 100%;
    padding: 0%;
}

.divContacto {
    display: flexbox;
    width: 100%;
    padding: 0%;
    
}
}

/* Media Quieries para 480px */

@media screen and (max-width: 480px){

    #logo {
           width: 30%;
        }

    .container img {
        width: 90%;
    }

    .contenedorGrid {
        display:inline;
    }
    
    .imagenIndex {
        width: 60%;
        margin-left: 20%;
    }
    .textoIndex {
        display: inline-block;
        align-content: center;
        text-align: center;
    }
    .pIndex {
        font-size: 16px;
    }
     
    .imagenIndex:hover {
        display: none;
    }
    
    .carousel-item img {
        height: 150px;
    }

    h1 {
        font-size: 150%;
    }

    h2 {
        text-align: center;
        margin-top: 3px;
    }

    h3 {
        font-size: 100%;
    }
        
    p {
        line-height: 10px;
        letter-spacing: 1px;
        font-size: 11px;
        margin-left: 10px;
    }

   .mb-3 {
        width: 99%;
    }
    .divUbicacion {
        width: 98%;
    }

    .divContacto {
        width: 98%;
    }
    .listaContacto li {
        font-size: 90%; 
    }
        /* Estilo listas categorias */
    .sectionCategorias h2 {
        margin: 2%;
    }

    .listaCategorias {
        margin-left: 0%;
    }

    .listaCategorias li a{
        letter-spacing: 0.5px;
        font-size: 12px;
    }

    .listaCategoriasOpciones {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .listaCategoriasOpciones li a{
        letter-spacing: 0.5%;
        font-size: 70%;
        font-weight: 100;
        
    }
    .listaCategorias .list-group .list-group-item a {
        font-size: 50%;
    }
    .listaCategorias .list-group {
        width: 115%; 
    }
}

/* Media Quieries para 320)*/
@media screen and (max-width: 320px) {

    .carousel-indicators {
        display: none;
    }

    .h3Ubicacion {
        text-align: center;
        margin-left: 0px;
    }
    .h3Contacto {
        text-align: center;
        margin-left: 0px;
    }

    .mapa {
        border: solid 1px black;
        width: 60%;
        height: 100%;
        margin-left: 20%;
    }

    /* Estilo del footer */
    .piePagina {
        margin-top: 35px;
    }

    /* Estilo lista Contacto */
    .listaContacto li {
        font-size: 60%; 
    }

    .iconoContacto {
        width: 4%;
        margin: 1%;
    }

    .iconoRedes {
        width: 40%;
        margin: 2%;
    }

    /* Estilo listas categorias */
    .sectionCategorias h2 {
        margin: 2%;
    }

    .listaCategorias {
        list-style-type: none;
        margin-left: 1%;
    }

    .listaCategorias li a{
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 1000;
    }

    .listaCategoriasOpciones {
        list-style-type: none;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
    }
    .listaCategoriasOpciones li a{
        letter-spacing: 1%;
        font-size: 75%;
        font-weight: 100;
    }

}