.sectionQuienesSomos {
    border: solid 1px black;
    margin: 1%;
    padding: 1%;
}

.sectionQuienesSomos:hover {
    transform: scale(1.01);
    background-color: rgb(240, 233, 233);
    transition: all 0.5s;
}