
$colores: (
"color-principal": rgb(40, 79, 194),
"color-secundario": white,
"color-terciario": black,
"color-cuaternario": grey
);

$fuente-principal: 'Lato', sans-serif;

/* Mixin */
@mixin parrafos ($spacing, $size){
    letter-spacing: $spacing;
    font-size: $size;
    font-family: $fuente-principal;
    color: map-get($colores, "color-terciario");
    text-decoration: none;
}